#productlist{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;

}
.product{
    list-style-type:none;
    height: 400px;
    width: 200px;
}
.product img{
    height: 100px;
    width: 100px;
}
h1{
    text-align: center;
}